@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* import m6x11plus from offline-fonts */
@font-face {
    font-family: "m6x11";
    src: url("./fonts/m6x11plus.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --bg-color: #1f1f1f;
    --text-color: #e0e0e0;
    --accent-color: #4456ff;

    --base-text-size: 1rem;
    --base-line-height: 1.5;
    --font-family: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 0.5rem;
}

.container {
    padding: 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
    transform: translateZ(0);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
a,
button {
    font-size: var(--base-text-size);
    line-height: var(--base-line-height);
    color: var(--text-color);
    font-family: var(--font-family);
}

h6 {
    font-size: 0.75rem;
    color: rgba(255, 255, 255, 0.5);
}

h5 {
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.6);
}

h4 {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.7);
}

h3 {
    font-size: 1.25rem;
    color: rgba(255, 255, 255, 0.8);
}

h2 {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.9);
}

h1 {
    font-size: 2rem;
    color: #fff;
    font-family: "m6x11", sans-serif;
    letter-spacing: 0.1rem;
    font-style: normal;
}

button {
    cursor: pointer;
    transition: 0.1s;
}

.button {
    background-color: var(--accent-color);
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: var(--base-text-size);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.button:hover {
    background-color: #3a48db;
}

.button > .image {
    width: 1rem;
    height: 1rem;
}

input,
textarea {
    border-radius: 0.5rem;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: var(--text-color);
    padding: 0.5rem 0.5rem;
    font-size: var(--base-text-size);
    font-family: var(--font-family);
    transition: 0.1s linear border;
}

input:hover,
textarea:hover {
    border: 1px solid rgba(255, 255, 255, 0.3);
}

input:focus,
textarea:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

textarea {
    resize: vertical;
    min-height: 10rem;
}

.icon-button {
    border-radius: 50%;
    line-height: 0;
    padding: 0.75rem;
    background: none;
}

.icon-button > .image {
    width: 1.5rem;
    height: 1.5rem;
}

.icon-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.icon-button:active {
    background-color: rgba(255, 255, 255, 0.3);
}

.chip {
    background: none;
    padding: 0.5rem 1rem;
    border-radius: 99rem;
    font-size: 1rem;
    display: inline-block;
    color: var(--text-color);
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: 0.1s linear border;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.chip > .image {
    width: 1rem;
    height: 1rem;
}

.div {
    padding: 0.75rem;
    border-radius: 0.75rem;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.post {
    max-width: 100%;
}

.post > .title {
    width: 100%;
}

.description {
    font-size: 0.75rem;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.5);
    text-overflow: ellipsis;
}

.post-chips .chip {
    font-size: 0.75rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.row-bar {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.post-actions {
    align-items: center;
    gap: 0.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.action-counter > .icon-button {
    padding: 0.25rem;
}

.post > .title > .status {
    font-weight: 400;
    font-size: 0.75rem;
    color: rgba(255, 255, 255, 0.5);
    text-transform: italic;
    align-self: center;
}

.rating-counters {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.action-counter {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
    border-radius: 99rem;
    padding: 0.25rem 0.5rem;
    background-color: #303030;
}

.post-number {
    padding-right: 4px;
}

a {
    text-decoration: none;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    width: min(800px, 100%);
    height: 100vh;
}

.posts-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}

.post-author {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    align-items: center;
    font-weight: 400;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
}

.post-author > .image-container {
    border-radius: 50%;
    background-color: #303030;
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}